div.clearer {
    clear: both;
    line-height: 0px;
    height: 0;
    overflow: hidden;
}

div.no {
    display: inline;
    margin: 0;
    padding: 0;
}

.hidden {
    display: none;
}

div.error {
    background: #fcc url(/lib/styles/../images/error.png) 0.5em 0px no-repeat;
    color: #000;
    border-bottom: 1px solid #faa;
    font-size: 90%;
    margin: 0;
    padding-left: 3em;
    overflow: hidden;
}

div.info {
    background: #ccf url(/lib/styles/../images/info.png) 0.5em 0px no-repeat;
    color: #000;
    border-bottom: 1px solid #aaf;
    font-size: 90%;
    margin: 0;
    padding-left: 3em;
    overflow: hidden;
}

div.success {
    background: #cfc url(/lib/styles/../images/success.png) 0.5em 0px no-repeat;
    color: #000;
    border-bottom: 1px solid #afa;
    font-size: 90%;
    margin: 0;
    padding-left: 3em;
    overflow: hidden;
}

div.notify {
    background: #ffc url(/lib/styles/../images/notify.png) 0.5em 0px no-repeat;
    color: #000;
    border-bottom: 1px solid #ffa;
    font-size: 90%;
    margin: 0;
    padding-left: 3em;
    overflow: hidden;
}

.medialeft {
    float: left;
}

.mediaright {
    float: right;
}

.mediacenter {
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.leftalign {
    text-align: left;
}

.centeralign {
    text-align: center;
}

.rightalign {
    text-align: right;
}

em.u {
    font-style: normal;
    text-decoration: underline;
}

em em.u {
    font-style: italic;
}

.code .br0 {
    color: #6c6;
}

.code .co1 {
    color: #808080;
    font-style: italic;
}

.code .co2 {
    color: #808080;
    font-style: italic;
}

.code .co3 {
    color: #808080;
}

.code .coMULTI {
    color: #808080;
    font-style: italic;
}

.code .es0 {
    color: #009;
    font-weight: bold;
}

.code .kw1 {
    color: #b1b100;
}

.code .kw2 {
    color: #000;
    font-weight: bold;
}

.code .kw3 {
    color: #006;
}

.code .kw4 {
    color: #933;
}

.code .kw5 {
    color: #00f;
}

.code .me1 {
    color: #060;
}

.code .me2 {
    color: #060;
}

.code .nu0 {
    color: #c6c;
}

.code .re0 {
    color: #00f;
}

.code .re1 {
    color: #00f;
}

.code .re2 {
    color: #00f;
}

.code .re3 {
    color: #f33;
    font-weight: bold;
}

.code .re4 {
    color: #099;
}

.code .st0 {
    color: #f00;
}

.code .sy0 {
    color: #6c6;
}

div#acl_manager div#acl__tree {
    font-size: 90%;
    width: 25%;
    height: 300px;
    float: left;
    overflow: auto;
    border: 1px solid #f6ae00;
    text-align: left;
}

div#acl_manager div#acl__tree a.cur {
    background-color: #ff9;
    font-weight: bold;
}

div#acl_manager div#acl__tree ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

div#acl_manager div#acl__tree li {
    padding-left: 1em;
}

div#acl_manager div#acl__tree ul img {
    margin-right: 0.25em;
    cursor: pointer;
}

div#acl_manager div#acl__detail {
    width: 73%;
    height: 300px;
    float: right;
    overflow: auto;
}

div#acl_manager div#acl__detail fieldset {
    width: 90%;
}

div#acl_manager div#acl__detail div#acl__user {
    border: 1px solid #f6ae00;
    padding: 0.5em;
    margin-bottom: 0.6em;
}

div#acl_manager table.inline {
    width: 100%;
    margin: 0;
}

div#acl_manager .aclgroup {
    background: transparent url(/lib/plugins/acl/pix/group.png) 0px 1px no-repeat;
    padding: 1px 0px 1px 18px;
}

div#acl_manager .acluser {
    background: transparent url(/lib/plugins/acl/pix/user.png) 0px 1px no-repeat;
    padding: 1px 0px 1px 18px;
}

div#acl_manager .aclpage {
    background: transparent url(/lib/plugins/acl/pix/page.png) 0px 1px no-repeat;
    padding: 1px 0px 1px 18px;
}

div#acl_manager .aclns {
    background: transparent url(/lib/plugins/acl/pix/ns.png) 0px 1px no-repeat;
    padding: 1px 0px 1px 18px;
}

div#acl_manager label.disabled {
    color: #666 !important;
}

#acl_manager label {
    text-align: left;
    font-weight: normal;
    display: inline;
}

#acl_manager table {
    margin-left: 10%;
    width: 80%;
}

#acl_manager table tr {
    background-color: inherit;
}

#acl_manager table tr:hover {
    background-color: #f5ae1e;
}

#config__manager div.success, #config__manager div.error, #config__manager div.info {
    background-position: 0.5em;
    padding: 0.5em;
    text-align: center;
}

#config__manager fieldset {
    margin: 1em;
    width: auto;
    margin-bottom: 2em;
    background-color: #f5ae1e;
    color: #000;
    padding: 0 1em;
}

#config__manager legend {
    font-size: 1.25em;
}

#config__manager form {
}

#config__manager table {
    margin: 1em 0;
    width: 100%;
}

#config__manager fieldset td {
    text-align: left;
}

#config__manager fieldset td.value {
    width: 30em;
}

#config__manager td.label {
    padding: 0.8em 0 0.6em 1em;
    vertical-align: top;
}

#config__manager td.label label {
    clear: both;
    display: block;
}

#config__manager td.label span.outkey {
    font-size: 70%;
    margin-top: -1.7em;
    margin-left: -1em;
    display: block;
    background-color: #fff;
    color: #666;
    float: left;
    padding: 0 0.1em;
    position: relative;
    z-index: 1;
}

#config__manager td input.edit {
    width: 30em;
}

#config__manager td select.edit {
}

#config__manager td textarea.edit {
    width: 27.5em;
    height: 4em;
}

#config__manager tr .input, #config__manager tr input, #config__manager tr textarea, #config__manager tr select {
    background-color: #fff;
    color: #000;
}

#config__manager tr.default .input, #config__manager tr.default input, #config__manager tr.default textarea, #config__manager tr.default select, #config__manager .selectiondefault {
    background-color: #cdf;
    color: #000;
}

#config__manager tr.protected .input, #config__manager tr.protected input, #config__manager tr.protected textarea, #config__manager tr.protected select, #config__manager tr.protected .selection {
    background-color: #fcc !important;
    color: #000 !important;
}

#config__manager td.error {
    background-color: red;
    color: #000;
}

#config__manager .selection {
    width: 14.8em;
    float: left;
    margin: 0 0.3em 2px 0;
}

#config__manager .selection label {
    float: right;
    width: 14em;
    font-size: 90%;
}

* html #config__manager .selection label {
    padding-top: 2px;
}

#config__manager .selection input.checkbox {
    padding-left: 0.7em;
}

#config__manager .other {
    clear: both;
    padding-top: 0.5em;
}

#config__manager .other label {
    padding-left: 2px;
    font-size: 90%;
}

#plugin__manager {
}

#plugin__manager h2 {
    margin-left: 0;
}

#plugin__manager form {
    display: block;
    margin: 0;
    padding: 0;
}

#plugin__manager legend {
    display: none;
}

#plugin__manager fieldset {
    width: auto;
}

#plugin__manager .button {
    margin: 0;
}

#plugin__manager p, #plugin__manager label {
    text-align: left;
}

#plugin__manager .hidden {
    display: none;
}

#plugin__manager .new {
    background: #dee7ec;
}

#plugin__manager input[disabled] {
    color: #ccc;
    border-color: #ccc;
}

#plugin__manager .pm_menu, #plugin__manager .pm_info {
    margin-left: 0;
    text-align: left;
}

#plugin__manager .pm_menu {
    float: left;
    width: 48%;
}

#plugin__manager .pm_info {
    float: right;
    width: 50%;
}

#plugin__manager .common {
}

#plugin__manager .common form {
}

#plugin__manager .common fieldset {
    margin: 0;
    padding: 0 0 1.0em 0;
    text-align: left;
    border: none;
}

#plugin__manager .common label {
    padding: 0 0 0.5em 0;
}

#plugin__manager .common input {
}

#plugin__manager .common input.edit {
    width: 24em;
    margin: 0.5em;
}

#plugin__manager .common .button {
}

#plugin__manager form.plugins {
}

#plugin__manager .plugins fieldset {
    color: #000;
    background: #fff;
    text-align: right;
    border-top: none;
    border-right: none;
    border-left: none;
}

#plugin__manager .plugins fieldset.protected {
    background: #fdd;
    color: #000;
}

#plugin__manager .plugins fieldset.disabled {
    background: #e0e0e0;
    color: #a8a8a8;
}

#plugin__manager .plugins .legend {
    color: #000;
    background: inherit;
    display: block;
    margin: 0;
    padding: 0;
    font-size: 1em;
    line-height: 1.4em;
    font-weight: normal;
    text-align: left;
    float: left;
    padding: 0;
    clear: none;
}

#plugin__manager .plugins .button {
    font-size: 95%;
}

#plugin__manager .plugins fieldset.buttons {
    border: none;
}

#plugin__manager .plugins fieldset.buttons .button {
    float: left;
}

#plugin__manager .pm_info h3 {
    margin-left: 0;
}

#plugin__manager .pm_info dl {
    margin: 1em 0;
    padding: 0;
}

#plugin__manager .pm_info dt {
    width: 6em;
    float: left;
    clear: left;
    margin: 0;
    padding: 0;
}

#plugin__manager .pm_info dd {
    margin: 0 0 0 7em;
    padding: 0;
    background: none;
}

#plugin__manager .plugins .enable {
    float: left;
    width: auto;
    margin-right: 0.5em;
}

#user__manager tr.disabled {
    color: #6f6f6f;
    background: #e4e4e4;
}

#user__manager tr.user_info {
    vertical-align: top;
}

#user__manager div.edit_user {
    width: 46%;
    float: left;
}

#user__manager table {
    margin-bottom: 1em;
}

#user__manager input.button[disabled] {
    color: #ccc !important;
    border-color: #ccc !important;
}

div.thumb2 {
    margin-bottom: .5em;
    width: auto;
}

div.trien {
    float: left;
    margin: .5em 1.4em .8em 0;
}

div.tleft {
    clear: left;
    float: left;
    margin: .5em 1.4em .8em 0;
}

div.tright {
    clear: right;
    float: right;
    margin: .5em 0 .8em 1.4em;
}

div.tcenter {
    clear: both;
    margin: .5em auto .8em auto;
}

div.thumb2 .thumbinner {
    background-color: #F9F9F9;
    border: 1px solid #CCC;
    font-size: 94%;
    overflow: hidden;
    padding: 3px;
}

div.thumb2 .mediabox2 {
    background: #FFF none repeat scroll 0 0;
    margin: 0;
    border: 1px solid #CCC !important;
}

html .thumbcaption {
    border: medium none;
    font-size: 94%;
    line-height: 1.4em;
    padding: 3px;
    text-align: left;
}

div.thumb2 .magnify {
    background: transparent none repeat scroll 0 0;
    border: medium none !important;
    float: right;
}

div.thumb2 .magnify a, div.thumb2 .magnify img {
    background: transparent none repeat scroll 0 0;
    border: medium none !important;
    display: block;
}

div.thumb2 .interwiki {
    background-position: 0 center;
    padding-left: 17px;
}

body {
    behavior: url(/lib/tpl/neuron/hover.htc);
}

div.fakereport .header {
    padding: 3px 0 0 2px;
    float: none;
}

div.fakereport .logo {
    background-image: url('/lib/tpl/neuron/images/logo.png');
    background-repeat: no-repeat;
    height: 120px;
    width: 250px;
    float: left;
}

div.fakereport .ext_links {
    float: none;
    margin-left: 70px;
}

div.fakereport .header .ext_links ul {
    margin-top: 5px;
}

#menu_links {
    float: left;
}

#menu {
    float: none;
    height: 2.05em;
}

#menu ul {
    list-style: none;
    margin: 0px;
    padding: 0px;
}

#menu li {
    float: left;
    border-left: 1px solid #f6ae1f;
}

#menu li.last {
    border-right: 1px solid #f6ae1f;
}

#menu li ul {
    position: absolute;
    display: none;
    border: 1px solid black;
    background-color: white;
}

#menu li:hover ul {
    display: block;
}

#menu li ul li {
    border-left: none;
    border-bottom: 1px solid #f6ae1f;
    display: list-item;
    float: none;
}

.clearer {
    clear: both;
}

#menu li a {
    font-weight: bold;
    color: #666 !important;
    display: block;
    padding: 0.2em 0.5em 0.1em 0.5em;
    border-bottom: 4px solid white;
    white-space: nowrap;
}

#menu li a:hover {
    border-bottom: 4px solid #f6ae1f;
    text-decoration: none;
}

#menu li ul a {
    background-color: #ffc;
    display: block;
    padding: 0.2em 0.7em;
    border: none;
}

#menu li ul a.urlextern {
    padding-left: 1.7em;
    background-position: 0.4em 0.4em;
}

#menu li ul a:hover {
    color: #333 !important;
    border: none;
    background-color: #fc5;
}

div.fakereport .logo a {
    color: #f5ae1e !important;
    text-decoration: none !important;
    font-variant: small-caps;
    letter-spacing: 2pt;
}

div.fakereport .bar {
    border-top: 1px solid #f6ae00;
    border-bottom: 1px solid #f6ae00;
    background: #f5ae1e;
    padding: 0.1em 0.15em;
    clear: both;
}

#bar__top {
    background-image: url('/pentaho/content/fake-game-static/report-html/heading.jpg');
    background-repeat: no-repeat;
    height: 90px;
    padding: 0px;
    border-top: none;
}

#bar__topleft {
    padding-top: 25px;
    padding-left: 20px;
}

#bar__topleft a {
    color: white !important;
    font-size: 35px;
    font-weight: bold;
    font-family: sans-serif;
    letter-spacing: 2px;
}

#bar__topleft a:hover {
    text-decoration: none;
}

#bar__topright {
    margin-top: 55px;
}

#top__strip {
    height: 10px;
    font-size: 0px;
    background-color: #f19500;
    border: none;
    clear: both;
}

div.fakereport .bar-left {
    float: left;
}

div.fakereport .bar-right {
    float: right;
    text-align: right;
}

div.fakereport #bar__bottom {
    margin-bottom: 3px;
}

div.fakereport div.meta {
    clear: both;
    margin-top: 1em;
    color: #666;
    font-size: 70%;
}

div.fakereport div.meta div.user {
    float: left;
}

div.fakereport div.meta div.doc {
    text-align: right;
}

* {
    padding: 0;
    margin: 0;
}

body {
    font: 80% "URW Gothic L", "Century Gothic", "Tahoma", lucida, sans-serif;
    background-color: #fff;
    color: #000;
}

div.fakereport div.page {
    margin: 4px 2em 0 1em;
    text-align: justify;
}

div.fakereport table {
    font-size: 100%;
}

div.fakereport tr, div.fakereport td, div.fakereport th {
}

div.fakereport img {
    border: 0;
}

div.fakereport p, div.fakereport blockquote, div.fakereport table, div.fakereport pre {
    margin: 0 0 1.0em 0;
}

div.fakereport hr {
    border: 0px;
    border-top: 1px solid #f6ae00;
    text-align: center;
    height: 0px;
}

div.fakereport div.nothing {
    text-align: center;
    margin: 2em;
}

div.fakereport form {
    border: none;
    display: inline;
}

div.fakereport label.block {
    display: block;
    text-align: right;
    font-weight: bold;
}

div.fakereport label.simple {
    display: block;
    text-align: left;
    font-weight: normal;
}

div.fakereport label.block input.edit {
    width: 50%;
}

div.fakereport fieldset {
    width: 300px;
    text-align: center;
    border: 1px solid #f6ae00;
    padding: 0.5em;
    margin: auto;
}

div.fakereport textarea.edit {
    font-family: monospace;
    font-size: 14px;
    color: #000;
    background-color: #fff;
    border: 1px solid #666;
    padding: 0.3em 0 0 0.3em;
    width: 100%;
}

html>body div.fakereport textarea.edit {
    background: #fff url(/lib/tpl/neuron/images/inputshadow.png) repeat-x top;
}

div.fakereport input.edit, div.fakereport select.edit {
    font-size: 100%;
    border: 1px solid #666;
    color: #000;
    background-color: #fff;
    vertical-align: middle;
    margin: 1px;
    padding: 0.20em 0.3em;
    display: inline;
}

html>body div.fakereport input.edit, html>body div.fakereport select.edit {
    background: #fff url(/lib/tpl/neuron/images/inputshadow.png) repeat-x top;
}

div.fakereport select.edit {
    padding: 0.1em 0;
}

div.fakereport input.missing {
    font-size: 100%;
    border: 1px solid #666;
    color: #000;
    background-color: #fcc;
    vertical-align: middle;
    margin: 1px;
    padding: 0.20em 0.3em;
    display: inline;
}

div.fakereport textarea.edit[disabled], div.fakereport textarea.edit[readonly], div.fakereport input.edit[disabled], div.fakereport input.edit[readonly], div.fakereport select.edit[disabled] {
    background-color: #f6ee9e !important;
    color: #666 !important;
}

div.fakereport div.toolbar, div.fakereport div#wiki__editbar {
    margin: 2px 0;
    text-align: left;
}

div.fakereport div#size__ctl {
    float: right;
    width: 60px;
    height: 2.7em;
}

div.fakereport #size__ctl img {
    cursor: pointer;
}

div.fakereport div#wiki__editbar div.editButtons {
    float: left;
    padding: 0 1.0em 0.7em 0;
}

div.fakereport div#wiki__editbar div.summary {
    float: left;
}

div.fakereport .nowrap {
    white-space: nowrap;
}

div.fakereport div#draft__status {
    float: right;
    color: #666;
}

div.fakereport div.license {
    padding: 0.5em;
    font-size: 90%;
    text-align: center;
}

div.fakereport form#dw__editform div.license {
    clear: left;
    font-size: 90%;
}

div.fakereport input.button, div.fakereport button.button {
    border: 1px solid #666;
    color: #000;
    background-color: #eef;
    vertical-align: middle;
    text-decoration: none;
    font-size: 100%;
    cursor: pointer;
    margin: 1px;
    padding: 0.125em 0.4em;
}

* html div.fakereport input.button, * html div.fakereport button.button {
    height: 1.8em;
}

div.fakereport div.secedit input.button {
    border: 1px solid #666;
    color: #000;
    background-color: #fff;
    vertical-align: middle;
    text-decoration: none;
    margin: 0;
    padding: 0;
    font-size: 10px;
    cursor: pointer;
    float: right;
    display: inline;
}

div.fakereport div.pagenav {
    margin: 1em 0 0 0;
}

div.fakereport div.pagenav-prev {
    text-align: right;
    float: left;
    width: 49%
}

div.fakereport div.pagenav-next {
    text-align: left;
    float: right;
    width: 49%
}

div.fakereport a:link, div.fakereport a:visited {
    color: #436976;
    text-decoration: none;
}

div.fakereport a:hover, div.fakereport a:active {
    color: #000;
    text-decoration: underline;
}

div.fakereport h1 a, div.fakereport h2 a, div.fakereport h3 a, div.fakereport h4 a, div.fakereport h5 a, div.fakereport a.nolink {
    color: #000 !important;
    text-decoration: none !important;
}

div.fakereport a.urlextern {
    background: transparent url(/lib/tpl/neuron/images/link_icon.gif) 0px 1px no-repeat;
    padding: 1px 0px 1px 16px;
}

div.fakereport a.windows {
    background: transparent url(/lib/tpl/neuron/images/windows.gif) 0px 1px no-repeat;
    padding: 1px 0px 1px 16px;
}

div.fakereport a.interwiki {
}

div.fakereport a.media {
}

div.fakereport a.urlextern:link, div.fakereport a.windows:link, div.fakereport a.interwiki:link {
    color: #436976;
}

div.fakereport a.urlextern:visited, div.fakereport a.windows:visited, div.fakereport a.interwiki:visited {
    color: purple;
}

div.fakereport a.urlextern:hover, div.fakereport a.urlextern:active, div.fakereport a.windows:hover, div.fakereport a.windows:active, div.fakereport a.interwiki:hover, div.fakereport a.interwiki:active {
    color: #000;
}

div.fakereport a.mail {
    background: transparent url(/lib/tpl/neuron/images/mail_icon.gif) 0px 1px no-repeat;
    padding: 1px 0px 1px 16px;
}

div.fakereport a.wikilink1 {
    color: #2f72ff !important;
}

div.fakereport a.wikilink2 {
    color: #f30 !important;
    text-decoration: none !important;
    border-bottom: dashed 1px #f30 !important;
}

div.fakereport div.preview {
    background-color: #f6ee9e;
    margin: 0 0 0 2em;
    padding: 4px;
    border: 1px dashed #000;
}

div.fakereport div.breadcrumbs {
    background-color: #f6ee9e;
    color: #666;
    font-size: 80%;
    padding: 0 0 0 4px;
}

div.fakereport span.user {
    color: #ccc;
    font-size: 90%;
}

div.fakereport li.minor {
    color: #666;
    font-style: italic;
}

div.fakereport img.media {
    margin: 3px;
}

div.fakereport img.medialeft {
    border: 0;
    float: left;
    margin: 0 1.5em 0 0;
}

div.fakereport img.mediaright {
    border: 0;
    float: right;
    margin: 0 0 0 1.5em;
}

div.fakereport img.mediacenter {
    border: 0;
    display: block;
    margin: 0 auto;
}

div.fakereport img.middle {
    vertical-align: middle;
}

div.fakereport acronym {
    cursor: help;
    border-bottom: 1px dotted #000;
}

div.fakereport h1, div.fakereport h2, div.fakereport h3, div.fakereport h4, div.fakereport h5 {
    color: #000;
    background-color: inherit;
    font-size: 100%;
    font-weight: normal;
    margin: 0 0 1em 0;
    padding: 0.5em 0 0 0;
    border-bottom: 1px solid #f6ae00;
    clear: left;
}

div.fakereport h1 {
    font-size: 160%;
    margin-left: 0px;
    font-weight: bold;
}

div.fakereport h2 {
    font-size: 150%;
    margin-left: 20px;
}

div.fakereport h3 {
    font-size: 140%;
    margin-left: 40px;
    border-bottom: none;
    font-weight: bold;
}

div.fakereport h4 {
    font-size: 120%;
    margin-left: 60px;
    border-bottom: none;
    font-weight: bold;
}

div.fakereport h5 {
    font-size: 100%;
    margin-left: 80px;
    border-bottom: none;
    font-weight: bold;
}

div.fakereport div.level1 {
    margin-left: 3px;
}

div.fakereport div.level2 {
    margin-left: 23px;
}

div.fakereport div.level3 {
    margin-left: 43px;
}

div.fakereport div.level4 {
    margin-left: 63px;
}

div.fakereport div.level5 {
    margin-left: 83px;
}

div.fakereport ul {
    line-height: 1.5em;
    list-style-type: square;
    list-style-image: none;
    margin: 0 0 1em 3.5em;
    color: #666;
}

div.fakereport .header ul {
    list-style-image: url(/lib/tpl/neuron/images/top-li.gif);
    margin-left: 0px;
}

div.fakereport .header ul a {
    color: #666;
}

div.fakereport .header ul a:hover {
    color: #0049e4;
}

div.fakereport ol {
    line-height: 1.5em;
    list-style-image: none;
    margin: 0 0 1em 3.5em;
    color: #666;
    font-weight: bold;
}

div.fakereport li ul {
    margin-bottom: 0;
}

div.fakereport li ol {
    margin-bottom: 0;
}

div.fakereport li.level1 {
    list-style-image: url(/lib/tpl/neuron/images/li.gif);
}

div.fakereport .li {
    color: #000;
    font-weight: normal;
}

div.fakereport ol {
    list-style-type: decimal
}

div.fakereport ol ol {
    list-style-type: upper-roman
}

div.fakereport ol ol ol {
    list-style-type: lower-alpha
}

div.fakereport ol ol ol ol {
    list-style-type: lower-greek
}

div.fakereport li.open {
    list-style-image: url(/lib/tpl/neuron/images/open.gif);
}

div.fakereport li.closed {
    list-style-image: url(/lib/tpl/neuron/images/closed.gif);
}

div.fakereport blockquote {
    border-left: 2px solid #f6ae00;
    padding-left: 3px;
}

div.fakereport pre {
    font-size: 120%;
    padding: 0.5em;
    border: 1px dashed #f6ae00;
    color: #000;
    overflow: auto;
}

div.fakereport pre.pre {
    background-color: #f7f9fa;
}

div.fakereport pre.code {
    background-color: #f7f9fa;
}

div.fakereport code {
    font-size: 120%;
}

div.fakereport pre.file {
    background-color: #f5ae1e;
}

div.fakereport table.inline {
    background-color: #fff;
    border-spacing: 0px;
    border-collapse: collapse;
}

div.fakereport table.inline th {
    padding: 3px;
    border: 1px solid #f6ae00;
    background-color: #f5ae1e;
}

div.fakereport table.inline td {
    padding: 3px;
    border: 1px solid #f6ae00;
}

div.fakereport div.toc {
    margin: 1.2em 0 0 2em;
    float: right;
    width: 200px;
    font-size: 80%;
    clear: both;
}

div.fakereport div.tocheader {
    border: 1px solid #f6ae00;
    background-color: #f5ae1e;
    text-align: left;
    font-weight: bold;
    padding: 3px;
    margin-bottom: 2px;
}

div.fakereport span.toc_open, div.fakereport span.toc_close {
    border: 0.4em solid #f5ae1e;
    float: right;
    display: block;
    margin: 0.4em 3px 0 0;
}

div.fakereport span.toc_open span, div.fakereport span.toc_close span {
    display: none;
}

div.fakereport span.toc_open {
    margin-top: 0.4em;
    border-top: 0.4em solid #000;
}

div.fakereport span.toc_close {
    margin-top: 0;
    border-bottom: 0.4em solid #000;
}

div.fakereport #toc__inside {
    border: 1px solid #f6ae00;
    background-color: #fff;
    text-align: left;
    padding: 0.5em 0 0.7em 0;
}

div.fakereport ul.toc {
    list-style-type: none;
    list-style-image: none;
    line-height: 1.2em;
    padding-left: 1em;
    margin: 0;
}

div.fakereport ul.toc li {
    background: transparent url(/lib/tpl/neuron/images/tocdot2.gif) 0 0.6em no-repeat;
    padding-left: 0.4em;
}

div.fakereport ul.toc li.clear {
    background-image: none;
    padding-left: 0.4em;
}

div.fakereport a.toc:link, div.fakereport a.toc:visited {
    color: #436976;
}

div.fakereport a.toc:hover, div.fakereport a.toc:active {
    color: #000;
}

div.fakereport table.diff {
    background-color: #fff;
    width: 100%;
}

div.fakereport td.diff-blockheader {
    font-weight: bold;
}

div.fakereport table.diff th {
    border-bottom: 1px solid #f6ae00;
    font-size: 110%;
    width: 50%;
    font-weight: normal;
    text-align: left;
}

div.fakereport table.diff th a {
    font-weight: bold;
}

div.fakereport table.diff th span.user {
    color: #000;
    font-size: 80%;
}

div.fakereport table.diff th span.sum {
    font-size: 80%;
    font-weight: bold;
}

div.fakereport table.diff th.minor {
    font-style: italic;
}

div.fakereport table.diff td {
    font-family: monospace;
    font-size: 100%;
}

div.fakereport td.diff-addedline {
    background-color: #dfd;
}

div.fakereport td.diff-deletedline {
    background-color: #ffb;
}

div.fakereport td.diff-context {
    background-color: #f6ee9e;
}

div.fakereport table.diff td.diff-addedline strong, div.fakereport table.diff td.diff-deletedline strong {
    color: red;
}

div.fakereport div.footnotes {
    clear: both;
    border-top: 1px solid #f6ae00;
    padding-left: 1em;
    margin-top: 1em;
}

div.fakereport div.fn {
    font-size: 90%;
}

div.fakereport a.fn_bot {
    font-weight: bold;
}

div.insitu-footnote {
    font-size: 80%;
    line-height: 1.2em;
    border: 1px solid #f6ae00;
    background-color: #f7f9fa;
    text-align: left;
    padding: 4px;
    max-width: 40%;
}

* html .insitu-footnote pre.code, * html .insitu-footnote pre.file {
    padding-bottom: 18px;
}

div.fakereport .search_result {
    margin-bottom: 6px;
    padding: 0 10px 0 30px;
}

div.fakereport .search_snippet {
    color: #ccc;
    font-size: 12px;
    margin-left: 20px;
}

div.fakereport .search_sep {
    color: #000;
}

div.fakereport .search_hit {
    color: #000;
    background-color: #ff9;
}

div.fakereport strong.search_hit {
    font-weight: normal;
}

div.fakereport div.search_quickresult {
    margin: 0 0 15px 30px;
    padding: 0 10px 10px 0;
    border-bottom: 1px dashed #f6ae00;
}

div.fakereport div.search_quickresult h3 {
    margin: 0 0 1.0em 0;
    font-size: 1em;
    font-weight: bold;
}

div.fakereport ul.search_quickhits {
    margin: 0 0 0.5em 1.0em;
}

div.fakereport ul.search_quickhits li {
    margin: 0 1.0em 0 1.0em;
    float: left;
    width: 30%;
}

div.footerinc {
    text-align: center;
}

.footerinc a img {
    opacity: 0.5;
    border: 0;
}

.footerinc a:hover img {
    opacity: 1;
}

div.fakereport div.ajax_qsearch {
    position: absolute;
    right: 237px;;
    width: 200px;
    opacity: 0.9;
    display: none;
    font-size: 80%;
    line-height: 1.2em;
    border: 1px solid #f6ae00;
    background-color: #f7f9fa;
    text-align: left;
    padding: 4px;
}

button.toolbutton {
    background-color: _ _button_background__;
    padding: 0px;
    margin: 0 1px 0 0;
    border: 1px solid #666;
    cursor: pointer;
}

html>body button.toolbutton {
    background: #fff url(/lib/tpl/neuron/images/buttonshadow.png) repeat-x bottom;
}

div.picker {
    width: 250px;
    border: 1px solid #f6ae00;
    background-color: #f5ae1e;
}

button.pickerbutton {
    padding: 0px;
    margin: 0 1px 1px 0;
    border: 0;
    background-color: transparent;
    font-size: 80%;
    cursor: pointer;
}

div.fakereport div.img_big {
    float: left;
    margin-right: 0.5em;
}

div.fakereport dl.img_tags dt {
    font-weight: bold;
    background-color: #f5ae1e;
}

div.fakereport dl.img_tags dd {
    background-color: #f6ee9e;
}

div.fakereport div.imagemeta {
    color: #666;
    font-size: 70%;
    line-height: 95%;
}

div.fakereport div.imagemeta img.thumb {
    float: left;
    margin-right: 0.1em;
}

#media__manager {
    height: 100%;
    overflow: hidden;
}

#media__left {
    width: 30%;
    border-right: solid 1px #f6ae00;
    height: 100%;
    overflow: auto;
    position: absolute;
    left: 0;
}

#media__right {
    width: 69.7%;
    height: 100%;
    overflow: auto;
    position: absolute;
    right: 0;
}

#media__manager h1 {
    margin: 0;
    padding: 0;
    margin-bottom: 0.5em;
}

#media__tree img {
    float: left;
    padding: 0.5em 0.3em 0 0;
}

#media__tree ul {
    list-style-type: none;
    list-style-image: none;
    margin-left: 1.5em;
}

#media__tree li {
    clear: left;
    list-style-type: none;
    list-style-image: none;
}

*+html #media__tree li, * html #media__tree li {
    border: 1px solid #fff;
}

#media__opts {
    padding-left: 1em;
    margin-bottom: 0.5em;
}

#media__opts input {
    float: left;
    display: block;
    margin-top: 4px;
    position: absolute;
}

*+html #media__opts input, * html #media__opts input {
    position: static;
}

#media__opts label {
    display: block;
    float: left;
    margin-left: 20px;
    margin-bottom: 4px;
}

*+html #media__opts label, * html #media__opts label {
    margin-left: 10px;
}

#media__opts br {
    clear: left;
}

#media__content img.load {
    margin: 1em auto;
}

#media__content #scroll__here {
    border: 1px dashed #f6ae00;
}

#media__content .odd {
    background-color: #f7f9fa;
    padding: 0.4em;
}

#media__content .even {
    padding: 0.4em;
}

#media__content a.mediafile {
    margin-right: 1.5em;
    font-weight: bold;
}

#media__content div.detail {
    padding: 0.3em 0 0.3em 2em;
}

#media__content div.detail div.thumb {
    float: left;
    width: 130px;
    text-align: center;
    margin-right: 0.4em;
}

#media__content img.btn {
    vertical-align: text-bottom;
}

#media__content div.example {
    color: #666;
    margin-left: 1em;
}

#media__content div.upload {
    font-size: 90%;
    padding: 0 0.5em 0.5em 0.5em;
}

#media__content form#dw__upload, #media__content div#dw__flashupload {
    display: block;
    border-bottom: solid 1px #f6ae00;
    padding: 0 0.5em 1em 0.5em;
}

#media__content form#dw__upload fieldset {
    padding: 0;
    margin: 0;
    border: none;
    width: auto;
}

#media__content form#dw__upload p {
    text-align: left;
    padding: 0.25em 0;
    margin: 0;
    line-height: 1.0em;
}

#media__content form#dw__upload label.check {
    float: none;
    width: auto;
    margin-left: 11.5em;
}

#media__content form.meta {
    display: block;
    padding: 0 0 1em 0;
}

#media__content form.meta label {
    display: block;
    width: 25%;
    float: left;
    font-weight: bold;
    margin-left: 1em;
    clear: left;
}

#media__content form.meta .edit {
    font: 100% "Lucida Grande", Verdana, Lucida, Helvetica, Arial, sans-serif;
    float: left;
    width: 70%;
    padding-right: 0;
    padding-left: 0.2em;
    margin: 2px;
}

#media__content form.meta textarea.edit {
    height: 8em;
}

#media__content form.meta div.metafield {
    clear: left;
}

#media__content form.meta div.buttons {
    clear: left;
    margin-left: 20%;
    padding-left: 1em;
}